body {
    margin: 0 auto;
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;
    padding: 10px 10px;
    font-size: 13px;
}

ul {
    text-decoration: none;
}

div {
    position: relative; 
    bottom: auto;
}

.nbl {
    float: right;
    padding-right: 15px;
}

.nbr {
    float: left;
    padding-left: 15px;
}

.search {
    width: 300px;
    text-align: left;
    position: relative;
    left: 140px;
    top: 30px;

}

.navimage {
    padding-top: 0px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    position: relative;
    right: 40px;
}

.bottom {
    padding-top: 320px;
}
.button1 {
    position: relative;
    top: 70px; 
    right: 150px;
}
.button2 {
    position: relative;
    top: 70px;
    right: 130px;
}